<% let e = validationErrors %>

<fieldset>
    <legend>Tell us about the position</legend>

    <div class='form-group <%= errClass(e && e["title"]) %>'>
        <label for="Title">Title</label>
        <input type="text"
               class="form-control"
               id="Title"
               name="Title"
               placeholder="Senior Designer or Rails Programmer"
               value="<%= job.Title %>">
        <%= if (e && e["title"]) { errMsg(e, "title") } %>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class='form-group <%= errClass(e && e["jobcategory"]) %>'>
                <label for="JobCategory">Job Category</label>
                <select class="form-control"
                        id="JobCategory"
                        name="JobCategory">
                    <option value="Copywriting">Copywriting</option>
                    <option value="Customer Service">Customer Service</option>
                    <option value="Design">Design</option>
                    <option value="DevOps">DevOps</option>
                    <option value="Management">Management</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Programming" selected="selected">Programming</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class='<form group <%= errClass(e && e["jobtype"]) %>'>
                <label for="JobType">Job Type</label>
                <select class="form-control"
                        id="JobType"
                        name="JobType">
                    <option value="Contract">Contract</option>
                    <option value="Full-Time" selected="selected">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                </select>
            </div>
        </div>
    </div>

    <div class='form-group <%= errClass(e && e["location"]) %>'>
        <label for="Location">Location</label>
        <select class="form-control"
                id="Location"
                name="Location">
            <option value="Remote" selected="selected">Remote</option>
            <option value="Fort Erie">Fort Erie</option>
            <option value="Grimsby">Grimsby</option>
            <option value="Lincoln">Lincoln</option>
            <option value="Niagara Falls">Niagara Falls</option>
            <option value="Niagara-on-the-Lake">Niagara-on-the-Lake</option>
            <option value="Pelham">Pelham</option>
            <option value="Port Colborne">Port Colborne</option>
            <option value="St. Catharines">St. Catharines</option>
            <option value="Thorold">Thorold</option>
            <option value="Wainfleet">Wainfleet</option>
            <option value="Welland">Welland</option>
            <option value="West Lincoln">West Lincoln</option>
            <option value="Out of Region">Out of Region</option>
        </select>
    </div>

    <div class='form-group <%= errClass(e && e["title"]) %>'>
        <label for="Description">Description</label>
        <textarea class="form-control"
                  id="Description"
                  name="Description"><%= job.Description %></textarea>
        <%= if (e && e["title"]) { errMsg(e, "description") } %>
    </div>

    <div class='form-group <%= errClass(e && e["applicationinstructions"]) %>'>
        <label for="Instructions">Application Instructions</label>
        <textarea class="form-control"
                  id="Instructions"
                  name="Instructions"><%= job.Instructions %></textarea>
        <%= if (e && e["applicationinstructions"]) {
            errMsg(e, "applicationinstructions")
        } else {
            helpMsg("E.g. Send your cover letter and resume to jobs@acme.io")
        } %>
    </div>
</fieldset>

<fieldset>
    <legend>Tell us about your company</legend>

    <div class='form-group <%= errClass(e && e["companyname"]) %>'>
        <label for="CompanyName">Company Name</label>
        <input type="text"
               class="form-control"
               id="CompanyName"
               name="CompanyName"
               placeholder="ACME Inc"
               value="<%= job.CompanyName %>">
        <%= if (e && e["companyname"]) { errMsg(e, "companyname") } %>
    </div>

    <div class='form-group <%= errClass(e && e["email"]) %>'>
        <label for="CompanyEmail">Email</label>
        <input type="text"
               class="form-control"
               id="CompanyEmail"
               name="CompanyEmail"
               placeholder="jobs@acme.io"
               value="<%= job.CompanyEmail %>">
        <%= if (e && e["email"]) {
            errMsg(e, "email")
        } else {
            helpMsg("This is where we'll send your confirmation email")
        } %>
    </div>

    <div class='form-group <%= errClass(e && e["website"]) %>'>
        <label for="CompanyWebsite">Website</label>
        <input type="url"
               class="form-control"
               id="CompanyWebsite"
               name="CompanyWebsite"
               placeholder="https://acme.io"
               value="<%= job.CompanyWebsite %>">
        <%= if (e && e["website"]) { errMsg(e, "website") } %>
    </div>

    <div class='form-group <%= errClass(e && e["twitterhandle"]) %>'>
        <label for="CompanyTwitter">Twitter Handle</label>
        <input type="text"
               class="form-control"
               id="CompanyTwitter"
               name="CompanyTwitter"
               placeholder="@acme.io"
               value="<%= job.CompanyTwitter %>">
        <%= if (e && e["twitterhandle"]) { errMsg(e, "twitterhandle") } %>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</fieldset>